<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Dashboard</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="../public/assets/css/app.min.css">

  <!-- Template CSS -->
  <link rel="stylesheet" href="../public/assets/css/style.css">
  <link rel="stylesheet" href="../public/assets/css/components.css">

  <!-- Custom style CSS -->
  <link rel="stylesheet" href="../public/assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='../public/assets/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>

      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html"> 
                 <span
                class="logo-name">Dashboard</span>
            </a>
          </div>

          <ul class="sidebar-menu">

            <li class="dropdown active">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="monitor"></i><span>CRUD</span></a>
              <ul class="dropdown-menu">
                <li class="active"><a class="nav-link" href="/">Create</a></li>
                <li><a class="nav-link" href="/read">Read</a></li>
                <li><a class="nav-link" href="/update">Update</a></li>
                <li><a class="nav-link" href="/delete">Delete</a></li>
              </ul>
            </li>



          </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">

        <div class="section-body">
            <div class="row">
              <div class="col-6 col-md-6 col-lg-6">
               
                <div class="card">
                  <div class="card-header">
                    <h4>Cadastro de usuários</h4>
                  </div>

                  <form method="POST">
                  <div class="card-body">
                    <div class="form-group">
                      <label>Nome</label>
                      <input name='nome' type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Login</label>
                      <input name='login' type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Senha</label>
                      <input name='senha' type="password" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Confirmar senha</label>
                      <input name='confirmaSenha' type="password" class="form-control">
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Reset</button>
                  </div>
                </form>

              </div>


              </div>
            </div>
          </div>





        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
          <div class="settingSidebar-body ps-container ps-theme-default">
            <div class=" fade show active">
              <div class="setting-panel-header">Setting Panel
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Select Layout</h6>
                <div class="selectgroup layout-color w-50">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
                    <span class="selectgroup-button">Light</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
                    <span class="selectgroup-button">Dark</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Sidebar Color</h6>
                <div class="selectgroup selectgroup-pills sidebar-color">
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
                    <span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
                      data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <h6 class="font-medium m-b-10">Color Theme</h6>
                <div class="theme-setting-options">
                  <ul class="choose-theme list-unstyled mb-0">
                    <li title="white" class="active">
                      <div class="white"></div>
                    </li>
                    <li title="cyan">
                      <div class="cyan"></div>
                    </li>
                    <li title="black">
                      <div class="black"></div>
                    </li>
                    <li title="purple">
                      <div class="purple"></div>
                    </li>
                    <li title="orange">
                      <div class="orange"></div>
                    </li>
                    <li title="green">
                      <div class="green"></div>
                    </li>
                    <li title="red">
                      <div class="red"></div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="mini_sidebar_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Mini Sidebar</span>
                  </label>
                </div>
              </div>
              <div class="p-15 border-bottom">
                <div class="theme-setting-options">
                  <label class="m-b-0">
                    <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
                      id="sticky_header_setting">
                    <span class="custom-switch-indicator"></span>
                    <span class="control-label p-l-10">Sticky Header</span>
                  </label>
                </div>
              </div>
              <div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
                <a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
                  <i class="fas fa-undo"></i> Restore Default
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2023 <div class="bullet"></div> Desenvolvido por <a href="#">Pierre Aquino</a>
        </div>
        <div class="footer-right">
        </div>
      </footer>

    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="../public/assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="../public/assets/bundles/apexcharts/apexcharts.min.js"></script>
  <script src="../public/assets/bundles/amcharts4/core.js"></script>
  <script src="../public/assets/bundles/amcharts4/charts.js"></script>
  <script src="../public/assets/bundles/amcharts4/animated.js"></script>
  <script src="../public/assets/bundles/jquery.sparkline.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="../public/assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="../public/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../public/assets/js/custom.js"></script>
</body>

</html>