<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="register-form">

        <form method="POST" class="formRegister" style="text-align: center; font-family: sans-serif;">
            <h1>Crie sua conta</h1>
            <label>Nome</label>        
            <br>
            <input type="text" name="nome"/>
            <br>
            <br>
            <label>Login</label>
            <br>
            <input type="text" name="login"/>
            <br>
            <br>
            <label>Senha</label>        
            <br>
            <input type="password" name="senha"/>
            <br>
            <br>
            <label>Corfirme a senha</label>        
            <br>
            <input type="password" name="confirmaSenha"/>
            <br>
            <br>
            <input type="submit" value="Registrar" class="btn" />
            <a href='/'><button>Voltar</button></a>      
        </form>
    </div>

    <script>


    </script>
</body>
</html>